# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node modules
node_modules/

# Build outputs
dist/
build/
dist-ssr

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
routes.json

# Environment variables
.env

# Vite
*.local
*.cache

# Mac specific
Icon?
._*
.Spotlight-V100
.Trashes

# Python cache
__pycache__/
*.pyc

# Graph data and cache
fastapi/philly_bike.graphml
server/cache/
server/temp/

# Duplicate cleanups
.vscode/
.idea/
server/databases/sessions.db

# Local databases
/databases/
/server/databases/
profiles.json

# Profile Pictures
/server/public/